@page "/"
@inject ICircuitsService CircuitsService
@using HYasinDemoApp.Models


<h1>Hello, world!</h1>

Welcome to your demonstration of what Hamza Yasin dreamed up when asked to handle some data in a windows app.
